<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stmikbanisaleh.smart_md">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:textColor="#FFFFFF"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".Ui.ListViewProduct"></activity>
        <activity android:name=".Ui.Report" />
        <activity
            android:name=".Ui.Masuk"
            />
        <activity android:name=".Ui.ProductList" />
        <activity

            android:theme="@style/MyTheme"
            android:name=".Ui.Store_visit"
            />
        <activity android:name=".Ui.StoreList" />
        <activity android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/profil"
            android:name=".profil"
           >

        </activity>
        <activity
            android:name=".splash_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Audit_store" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Ui.History.History" />
        <activity android:name=".Ui.History.Coba"
            />
    </application>


</manifest>